@import 'colors';

$font-stack: "Palatino Linotype", "Book Antiqua", Palatino, serif;

body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  color: #4C4845; 
}

.app-header {
  background-color: #222;
  height: 90px;
  padding-left: 20px;
  color: white;

  div {
    display: block;
    float: left;
  } 

  a {
    color: white;
  }
}

.app-title {
  text-align: left;

  h2 {
    padding-top: 2px;
    margin-bottom: 4px;
  }

  span {
    font-size: 10pt;
    vertical-align: top;
  }
}

.home-container {
  padding: 20px;
  height: 100%;
}

.button {
  color: white;
  font-family: $font-stack; 
  font-size: 12pt;
  margin: 8px;
  padding: 10px 16px;
}

.success {
  background-color: $teal;
}

.error {
  background-color: $red;
}

.toast {
  max-width: 600px;
  display: flex;
  flex-direction: row;
  color: white;
  padding: 8px;
  margin-bottom: 1px;

  .message {
    flex: 2 0 0;
  }

  .close {
    text-align: right;
  }
}
